/*
888888b.           d8b 888               
888  "88b          Y8P 888               
888  .88P              888               
8888888K.  888d888 888 888  888 .d8888b  
888  "Y88b 888P"   888 888 .88P 88K      
888    888 888     888 888888K  "Y8888b. 
888   d88P 888     888 888 "88b      X88 
8888888P"  888     888 888  888  88888P' 
*/
/* 
    CSS VARIABLES
    Enable or disable CSS variables of Briks into :root
    --{{ $briks-css-variables-prefix }}-{{ patternType }}-{{ patternName }}
*/
$briks-css-variables-enabled:           true;
$briks-css-variables-prefix:            'ita-';
/* 
    UNIT
    The default unit used into the entire design system
*/
$briks-unit:                            'px';
/* 
    COMPONENTS PREFIX
    The prefix which preceeds every component name
*/
$briks-components-prefix:               'c-';
/* 
    MODIFIERS PREFIX
    The prefix which preceeds every modifier name
*/
$briks-modifiers-prefix:                'm-';
/* 
    UTILITIES PREFIX
    The prefix which preceeds every utility name
*/
$briks-utilities-prefix:                'u-';
/* 
    RESPONSIVE PREFIX
    The prefix which preceeds every screen size name
*/
$briks-responsive-prefix:               '--';
/* 
    LUMINANCE METHOD
    Sets the method for automatic color contrast calculation. Involved in briks-smart-contrast function.
    Default is 3, possible values:
    1: Weighted Euclidean Distance in 3D RGB Space http://alienryderflex.com/hsp.html
    2: W3C recommandation https://www.w3.org/TR/AERT/#color-contrast
    3: Luma sRGB https://en.wikipedia.org/wiki/Rec._709
*/
$briks-luminance-method:                3;
/*
    LUMINANCE THRESHOLD
    Define the luminance threshold between light and dark. Float value between 0 and 1.
    Float value between 0 and 1
*/
$briks-luminance-threshold:             0.5;

/*
.d8888b.           888                           
d88P  Y88b          888                           
888    888          888                           
888         .d88b.  888  .d88b.  888d888 .d8888b  
888        d88""88b 888 d88""88b 888P"   88K      
888    888 888  888 888 888  888 888     "Y8888b. 
Y88b  d88P Y88..88P 888 Y88..88P 888          X88 
"Y8888P"   "Y88P"  888  "Y88P"  888      88888P' 
    
    COLORS
    @type SASS map https://sass-lang.com/documentation/file.SASS_REFERENCE.html#maps
    @format <COLOR_NAME>: <CSS_COLOR>
*/
$briks-colors: (
    primary-900: #061931,
    primary-800: #0c3161,
    primary-700: #124a92,
    primary-600: #1863c2,
    primary-500: #2C7DE5,
    primary-400: #5697ea,
    primary-300: #80b1ef,
    primary-200: #abcbf5,
    primary-100: #d5e5fa,

    neutral-900: #000000,
    neutral-800: #222222,
    neutral-700: #444444,
    neutral-600: #666666,
    neutral-500: #888888,
    neutral-400: #a6a6a6,
    neutral-300: #c3c3c3,
    neutral-200: #e1e1e1,
    neutral-100: #ffffff,

    support-success-900: #182710,
    support-success-800: #2f4d20,
    support-success-700: #47742f,
    support-success-600: #5e9b3f,
    support-success-500: #78ba56,
    support-success-400: #93c878,
    support-success-300: #aed69a,
    support-success-200: #c9e3bb,
    support-success-100: #e4f1dd,
    
    support-warning-900: #332003,
    support-warning-800: #664005,
    support-warning-700: #996008,
    support-warning-600: #cc800b,
    support-warning-500: #F39D1A,
    support-warning-400: #f5b148,
    support-warning-300: #f8c476,
    support-warning-200: #fad8a3,
    support-warning-100: #fdebd1,

    support-danger-900: #2e0a07,
    support-danger-800: #5c130e,
    support-danger-700: #891d14,
    support-danger-600: #b7261b,
    support-danger-500: #DF3528,
    support-danger-400: #e55d53,
    support-danger-300: #ec867e,
    support-danger-200: #f2aea9,
    support-danger-100: #f9d7d4,
);
/*
 .d8888b.                                                           d8b                            
d88P  Y88b                                                          Y8P                            
Y88b.                                                                                              
 "Y888b.    .d8888b 888d888 .d88b.   .d88b.  88888b.       .d8888b  888 88888888  .d88b.  .d8888b  
    "Y88b. d88P"    888P"  d8P  Y8b d8P  Y8b 888 "88b      88K      888    d88P  d8P  Y8b 88K      
      "888 888      888    88888888 88888888 888  888      "Y8888b. 888   d88P   88888888 "Y8888b. 
Y88b  d88P Y88b.    888    Y8b.     Y8b.     888  888           X88 888  d88P    Y8b.          X88 
 "Y8888P"   "Y8888P 888     "Y8888   "Y8888  888  888       88888P' 888 88888888  "Y8888   88888P' 

    @type SASS map https://sass-lang.com/documentation/file.SASS_REFERENCE.html#maps
    @format <SCREEN_SIZE_NAME>: <NUMBER>

    Sets the **break points** of your responsive design system. 
    Enter any amount of break point names and values to build your own screen sizes. 
    It is recommended to use semantic names, easy to remenber and to use, 
    they are used to name your CSS classes utilities. 
    `0` value defines the smallest screen size.

    // Example
    $briks-screen-sizes: (
        mini: 0, // Use '0' to define the smallest screen size
        medium: 500,
        maxi: 800
    );
    SCREEN SIZES
*/
$briks-screen-sizes: (
    xs: 0,
    sm: 608,
    md: 896,
    lg: 1080,
    xl: 1440
);

/*
8888888888                888             
888                       888             
888                       888             
8888888  .d88b.  88888b.  888888 .d8888b  
888     d88""88b 888 "88b 888    88K      
888     888  888 888  888 888    "Y8888b. 
888     Y88..88P 888  888 Y88b.       X88 
888      "Y88P"  888  888  "Y888  88888P' 

    @type SASS map https://sass-lang.com/documentation/file.SASS_REFERENCE.html#maps
    Fill the fonts assets informations for your design system. Supported font inclusions methods are:

    ### Local or remote
    // example
    $briks-fonts: (
        my-bold: ( // Your own font family name for the design system
            type:        'local', // Sets the type
            filename:    'montserrat-bold-webfont', // Name of the font file w/o extension
            name:        'Montserrat Bold', // The display name used for compilation, can be any string
            path:        '../fonts/', // Relative path to the file or remote URL
            legacy:      false, // true means woff2 and woff, false means ttf+woff+svg
            fallback:    'sans-serif', // Name of a websafe font family used as fallback
            weight:      600, // Recommended but optional font weight
        )
    );

    ### Google font
    // example
    $briks-fonts: (
        my-light: ( // Your own font family name for the design system
            type:        'google', // Sets the font type
            name:        'Montserrat', // The Google font name
            weight:      'Light', // Sets the weight of the font, leave empty '' for default weight
            fallback:    'sans-serif' // Sets a web safe fallback font. Value can be any web safe font.
        )
    );

    ### Websafe
    // example
    $briks-fonts: (
        my-websafe: ( // Your own font family name for the design system
            type:        'websafe', // Sets the font type
            name:        'fantasy' // Sets the websafe font family name
        )
    );

    ### May Help
    https://developer.mozilla.org/en-US/docs/Web/CSS/font-weight#common_weight_name_mapping
    100 	Thin (Hairline)
    200 	Extra Light (Ultra Light)
    300 	Light
    400 	Normal
    500 	Medium
    600 	Semi Bold (Demi Bold)
    700 	Bold
    800 	Extra Bold (Ultra Bold)
    900 	Black (Heavy)

    FONTS
*/
$briks-fonts: (
    lead-700: (
        type:        'local',
        filename:    'subset-Sora-Bold',
        name:        'Sora-Bold',
        weight:      700,
        path:        'https://itautomotive-dev.github.io/cosmobilisWeb-ui/fonts/Sora/',
        // path:        '../fonts/Sora/',
        fallback:    'sans-serif'
    ),
    lead-600: (
        type:        'local',
        filename:    'subset-Sora-SemiBold',
        name:        'Sora-SemiBold',
        weight:      600,
        path:        'https://itautomotive-dev.github.io/cosmobilisWeb-ui/fonts/Sora/',
        // path:        '../fonts/Sora/',
        fallback:    'sans-serif'
    ),
    lead-400: (
        type:        'local',
        filename:    'subset-Sora-Regular',
        name:        'Sora-Regular',
        weight:      400,
        path:        'https://itautomotive-dev.github.io/cosmobilisWeb-ui/fonts/Sora/',
        // path:        '../fonts/Sora/',
        fallback:    'sans-serif'
    ),
    mono: ( // Your own font family name for the design system
        type:        'websafe', // Sets the font type
        name:        'Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace' // Sets the websafe font family name
    )
);
/*
    DO NOT EDIT BOOT
*/
@import 'briks/engine/boot';
                         
/*
8888888888                888                  d8b                   
888                       888                  Y8P                   
888                       888                                        
8888888  .d88b.  88888b.  888888      .d8888b  888 88888888  .d88b.  
888     d88""88b 888 "88b 888         88K      888    d88P  d8P  Y8b 
888     888  888 888  888 888         "Y8888b. 888   d88P   88888888 
888     Y88..88P 888  888 Y88b.            X88 888  d88P    Y8b.     
888      "Y88P"  888  888  "Y888       88888P' 888 88888888  "Y8888  

    @type SASS map https://sass-lang.com/documentation/file.SASS_REFERENCE.html#maps
    @format <FONT_SIZE_NAME>: <NUMBER> 

    Enter all the font sizes that are used in the design system.

    // example
    $briks-font-sizes: (
        xs: 12,
        sm: 16,
        md: 20,
        xl: 40
    );
    FONT SIZES
*/
$briks-font-sizes: (
    13: 48,
    12: 40,
    11: 36,
    10: 32,
    9: 28,
    8: 24,
    7: 20,
    6: 18,
    5: 16,
    4: 14,
    3: 12,
    2: 10,
    1: 8
);
$briks-typography: (); // DO NOT USE, DEPRECATED

/*
 .d8888b.                             d8b                            
d88P  Y88b                            Y8P                            
Y88b.                                                                
 "Y888b.   88888b.   8888b.   .d8888b 888 88888b.   .d88b.  .d8888b  
    "Y88b. 888 "88b     "88b d88P"    888 888 "88b d88P"88b 88K      
      "888 888  888 .d888888 888      888 888  888 888  888 "Y8888b. 
Y88b  d88P 888 d88P 888  888 Y88b.    888 888  888 Y88b 888      X88 
 "Y8888P"  88888P"  "Y888888  "Y8888P 888 888  888  "Y88888  88888P' 
           888                                          888          
           888                                     Y8b d88P          
           888                                      "Y88P"           

    @type SASS map https://sass-lang.com/documentation/file.SASS_REFERENCE.html#maps
    @format <SPACING_NAME>: <NUMBER> 

    Enter all the spacings that will be used into your project. 
    Spacings are used in margings, paddings, horizontal and vertical positionings like top, right, bottom, left.

    // Example 
    $briks-spacings: (
        xs: 8,
        sm: 12,
        md: 18,
        lg: 26
    );
    SPACINGS
*/
$briks-spacings: (
    16: 180,
    15: 136,
    14: 96,
    13: 80,
    12: 70,
    11: 64,
    10: 56,
    9: 48,
    8: 40,
    7: 32,
    6: 24,
    5: 20,
    4: 16,
    3: 12,
    2: 8,
    1: 4,
    0: 0,
);

/*
888888b.                        888                           
888  "88b                       888                           
888  .88P                       888                           
8888888K.   .d88b.  888d888 .d88888  .d88b.  888d888 .d8888b  
888  "Y88b d88""88b 888P"  d88" 888 d8P  Y8b 888P"   88K      
888    888 888  888 888    888  888 88888888 888     "Y8888b. 
888   d88P Y88..88P 888    Y88b 888 Y8b.     888          X88 
8888888P"   "Y88P"  888     "Y88888  "Y8888  888      88888P' 
  
    @type SASS map https://sass-lang.com/documentation/file.SASS_REFERENCE.html#maps
    @format <BORDER_NAME>: <CSS_BORDER_SHORTHAND> 

    * Use function `my-color(yourColorName)` from $briks-colors to apply your own color.
    
    // example
    $briks-borders: (
        light: 1px solid my-color(myColorName), // With my-color() function
        dark: 2px dashed green // Custom color
    );
    BORDERS
*/
$briks-borders: (
    18:     1px solid my-color(neutral-900),
    17:     1px solid my-color(primary-900),
    16:     1px solid my-color(neutral-800),
    15:     1px solid my-color(primary-800),
    14:     1px solid my-color(neutral-700),
    13:     1px solid my-color(primary-700),
    12:     1px solid my-color(neutral-600),
    11:     1px solid my-color(primary-600),
    10:     1px solid my-color(neutral-500),
    9:      1px solid my-color(primary-500),
    8:      1px solid my-color(neutral-400),
    7:      1px solid my-color(primary-400),
    6:      1px solid my-color(neutral-300),
    5:      1px solid my-color(primary-300),
    4:      1px solid my-color(neutral-200),
    3:      1px solid my-color(primary-200),
    2:      1px solid my-color(neutral-100),
    1:      1px solid my-color(primary-100),
    0:      none,
);

/*
888888b.                        888                                            888 d8b                   
888  "88b                       888                                            888 Y8P                   
888  .88P                       888                                            888                       
8888888K.   .d88b.  888d888 .d88888  .d88b.  888d888      888d888 8888b.   .d88888 888 888  888 .d8888b  
888  "Y88b d88""88b 888P"  d88" 888 d8P  Y8b 888P"        888P"      "88b d88" 888 888 888  888 88K      
888    888 888  888 888    888  888 88888888 888          888    .d888888 888  888 888 888  888 "Y8888b. 
888   d88P Y88..88P 888    Y88b 888 Y8b.     888          888    888  888 Y88b 888 888 Y88b 888      X88 
8888888P"   "Y88P"  888     "Y88888  "Y8888  888          888    "Y888888  "Y88888 888  "Y88888  88888P' 

    @type SASS map https://sass-lang.com/documentation/file.SASS_REFERENCE.html#maps
    @format <BORDER_RADIUS_NAME>: <NUMBER>

    Enter your border radius for your design system.

    // example
    $briks-border-radius: (
        min: 2,
        max: 30
    );
    BORDER RADIUS
*/
$briks-border-radius: (
    0: 0,
    1: 3,
    2: 6,
    3: 12,
    4: 50
);
/*
.d8888b.  888                    888                                 
d88P  Y88b 888                    888                                 
Y88b.      888                    888                                 
 "Y888b.   88888b.   8888b.   .d88888  .d88b.  888  888  888 .d8888b  
    "Y88b. 888 "88b     "88b d88" 888 d88""88b 888  888  888 88K      
      "888 888  888 .d888888 888  888 888  888 888  888  888 "Y8888b. 
Y88b  d88P 888  888 888  888 Y88b 888 Y88..88P Y88b 888 d88P      X88 
 "Y8888P"  888  888 "Y888888  "Y88888  "Y88P"   "Y8888888P"   88888P' 

    @type SASS map https://sass-lang.com/documentation/file.SASS_REFERENCE.html#maps
    @format <BOX_SHADOW_NAME>: <CSS_BOX_SHADOW>

    Enter your [box shadows](https://developer.mozilla.org/en-US/docs/Web/CSS/box-shadow) for your design system.

    * Use function `my-color(yourColorName)` from [$briks-colors](#Colors) to apply your own color.
    
    // example
    $briks-shadows: (
        light: 0px 0px 10px 0px my-color(yourColorName), // With my-color() function
        strong: 0px 2px 12px 0px rgba(black, 0.6) // Custom color
    );
    SHADOWS
*/
$briks-shadows: (
    0: none,
    1: 0px 0px 10px 0px my-color(neutral-300),
    2: 0px 5px 10px 0px my-color(neutral-300),
    3: 0px 10px 10px 0px my-color(neutral-300)
);
$briks-backgrounds: (); // DEPRECATED
$briks-keyframes: ();
$briks-utilities: ();
$briks-components-generic: ();