/*
    C-SKIN EXTENSION
    Extension du composant générique c-skin
    https://github.com/ita-design-system/c-skin.scss
    Ce fichier doit servir à étendre ou surcharger les fonctionnalités
    du composant c-dim selon les besoins du projet
*/
$briks-components-generic: (
    // Nom du composant, obligatoirement skin
    skin: ( 
        // Extension activée true ou false
        enabled: true, 
        // Responsive activée true ou false pour l'extension
        responsive: false, 
        // Valeurs par défaut de l'extension
        defaults: (
            pseudo-classes: (
                // c-skin:disabled
                disabled: (
                    pointer-events: none,
                    color: grey,
                    background-color: lightgrey
                )
            )
        ),
        // Liste des modifieurs contenant chacun une liste de propriétés qui 
        // soit surchargent les propriétés par défaut
        // soit ajoutent des propriétés
        // soit les deux
        modifiers: ( 
            // BORDER COLORS
            // c-skin m-bcolor-neutral-400
            bcolor-neutral-400: (
                border-color: my-color(neutral-400)
            ),
            // c-skin m-btcolor-neutral-400
            btcolor-neutral-400: (
                border-top-color: my-color(neutral-400)
            ),
            // c-skin m-brcolor-neutral-400
            brcolor-neutral-400: (
                border-right-color: my-color(neutral-400)
            ),
            // c-skin m-bbcolor-neutral-400
            bbcolor-neutral-400: (
                border-bottom-color: my-color(neutral-400)
            ),
            // c-skin m-blcolor-neutral-400
            blcolor-neutral-400: (
                border-left-color: my-color(neutral-400)
            ),

            // c-skin m-bcolor-primary-500
            bcolor-primary-500: (
                border-color: my-color(primary-500)
            ),
            // c-skin m-btcolor-primary-500
            btcolor-primary-500: (
                border-top-color: my-color(primary-500)
            ),
            // c-skin m-brcolor-primary-500
            brcolor-primary-500: (
                border-right-color: my-color(primary-500)
            ),
            // c-skin m-bbcolor-primary-500
            bbcolor-primary-500: (
                border-bottom-color: my-color(primary-500)
            ),
            // c-skin m-blcolor-primary-500
            blcolor-primary-500: (
                border-left-color: my-color(primary-500)
            ),

            // c-skin m-bg-select
            bg-select: (
                background: right my-spacing(4) top 50% / my-font-size(7) no-repeat my-color(neutral-100) url(https://itautomotive-dev.github.io/vehServices-ui/img/icons/SVG/chevron-down.svg)
            ),
            // c-skin m-bg-details
            bg-details: (
                selector: '>summary',
                background: left my-spacing(0) top 50% / my-font-size(6) no-repeat url(https://itautomotive-dev.github.io/vehServices-ui/img/icons/SVG/chevron-right.svg)
            ),
            // c-skin m-details-open
            bg-details-open: (
                selector: '[open]>summary',
                background: left my-spacing(0) top 50% / my-font-size(6) no-repeat url(https://itautomotive-dev.github.io/vehServices-ui/img/icons/SVG/chevron-down.svg)
            ),
            // c-skin m-scheme-1
            scheme-1: (
                background-color: my-color(primary-500),
                color: my-color(neutral-100),
                pseudo-classes: (
                    hover: (
                        background-color: my-color(primary-600)
                    )
                )
            ),
            // c-skin m-input-validation-1
            input-validation-1: (
                pseudo-classes: (
                    valid: (
                        selector: '+*>.input-validation-1',
                        color: my-color(support-success-500)
                    ),
                    invalid: (
                        selector: '+*>.input-validation-1',
                        color: my-color(support-danger-500)
                    )
                )
            ),
            // c-skin m-checkbox-1
            checkbox-1: (
                position: absolute,
                opacity: 0,
                pseudo-elements: (
                    before: (
                        selector: '+*',
                        content: '',
                        display: inline-flex,
                        width: 24px,
                        height: 24px,
                        min-width: 24px,
                        min-height: 24px,
                        border-width: 1px,
                        border-style: solid,
                        border-color: my-color(neutral-400),
                        background: my-color(neutral-100),
                        border-radius: my-border-radius(1)
                    )
                ),
                pseudo-classes: (
                    checked: (
                        selector: '+*',
                        pseudo-elements: (
                            before: (
                                border-color: my-color(primary-500),
                                background: center / 80% my-color(primary-500) no-repeat url('https://itautomotive-dev.github.io/vehServices-ui/img/checked-stroke-white.svg')
                            )
                        )
                    )
                )
            ),
            // c-skin m-radio-1
            radio-1: (
                position: absolute,
                opacity: 0,
                pseudo-elements: (
                    before: (
                        selector: '+*',
                        content: '',
                        display: inline-flex,
                        width: 24px,
                        height: 24px,
                        min-width: 24px,
                        min-height: 24px,
                        border-width: 1px,
                        border-style: solid,
                        border-color: my-color(neutral-400),
                        background: my-color(neutral-100),
                        border-radius: 100%
                    )
                ),
                pseudo-classes: (
                    checked: (
                        selector: '+*',
                        pseudo-elements: (
                            before: (
                                border-color: my-color(primary-500),
                                background: radial-gradient(circle, my-color(primary-500) 40%, my-color(neutral-100) 46%, my-color(neutral-100) 100%)
                            )
                        )
                    )
                )
            ),
            // c-skin m-disabled
            disabled: (
                pointer-events: none,
                color: grey,
                background-color: lightgrey
            ),
            // COLORS
            c-primary-100: (
                color: my-color(primary-100)
            ),
            c-primary-200: (
                color: my-color(primary-200)
            ),
            c-primary-300: (
                color: my-color(primary-300)
            ),
            c-primary-400: (
                color: my-color(primary-400)
            ),
            c-primary-500: (
                color: my-color(primary-500)
            ),
            c-primary-600: (
                color: my-color(primary-600)
            ),
            c-primary-700: (
                color: my-color(primary-700)
            ),
            c-primary-800: (
                color: my-color(primary-800)
            ),
            c-primary-900: (
                color: my-color(primary-900)
            ),
            c-neutral-100: (
                color: my-color(neutral-100)
            ),
            c-neutral-200: (
                color: my-color(neutral-200)
            ),
            c-neutral-300: (
                color: my-color(neutral-300)
            ),
            c-neutral-400: (
                color: my-color(neutral-400)
            ),
            c-neutral-500: (
                color: my-color(neutral-500)
            ),
            c-neutral-600: (
                color: my-color(neutral-600)
            ),
            c-neutral-700: (
                color: my-color(neutral-700)
            ),
            c-neutral-800: (
                color: my-color(neutral-800)
            ),
            c-neutral-900: (
                color: my-color(neutral-900)
            ),
            c-support-success-100: (
                color: my-color(support-success-100)
            ),
            c-support-success-200: (
                color: my-color(support-success-200)
            ),
            c-support-success-300: (
                color: my-color(support-success-300)
            ),
            c-support-success-400: (
                color: my-color(support-success-400)
            ),
            c-support-success-500: (
                color: my-color(support-success-500)
            ),
            c-support-success-600: (
                color: my-color(support-success-600)
            ),
            c-support-success-700: (
                color: my-color(support-success-700)
            ),
            c-support-success-800: (
                color: my-color(support-success-800)
            ),
            c-support-success-900: (
                color: my-color(support-success-900)
            ),
            c-support-warning-100: (
                color: my-color(support-warning-100)
            ),
            c-support-warning-200: (
                color: my-color(support-warning-200)
            ),
            c-support-warning-300: (
                color: my-color(support-warning-300)
            ),
            c-support-warning-400: (
                color: my-color(support-warning-400)
            ),
            c-support-warning-500: (
                color: my-color(support-warning-500)
            ),
            c-support-warning-600: (
                color: my-color(support-warning-600)
            ),
            c-support-warning-700: (
                color: my-color(support-warning-700)
            ),
            c-support-warning-800: (
                color: my-color(support-warning-800)
            ),
            c-support-warning-900: (
                color: my-color(support-warning-900)
            ),
            c-support-danger-100: (
                color: my-color(support-danger-100)
            ),
            c-support-danger-200: (
                color: my-color(support-danger-200)
            ),
            c-support-danger-300: (
                color: my-color(support-danger-300)
            ),
            c-support-danger-400: (
                color: my-color(support-danger-400)
            ),
            c-support-danger-500: (
                color: my-color(support-danger-500)
            ),
            c-support-danger-600: (
                color: my-color(support-danger-600)
            ),
            c-support-danger-700: (
                color: my-color(support-danger-700)
            ),
            c-support-danger-800: (
                color: my-color(support-danger-800)
            ),
            c-support-danger-900: (
                color: my-color(support-danger-900)
            ),
            // BACKGROUND COLOR
            bc-primary-100: (
                background-color: my-color(primary-100)
            ),
            bc-primary-200: (
                background-color: my-color(primary-200)
            ),
            bc-primary-300: (
                background-color: my-color(primary-300)
            ),
            bc-primary-400: (
                background-color: my-color(primary-400)
            ),
            bc-primary-500: (
                background-color: my-color(primary-500)
            ),
            bc-primary-600: (
                background-color: my-color(primary-600)
            ),
            bc-primary-700: (
                background-color: my-color(primary-700)
            ),
            bc-primary-800: (
                background-color: my-color(primary-800)
            ),
            bc-primary-900: (
                background-color: my-color(primary-900)
            ),
            bc-neutral-100: (
                background-color: my-color(neutral-100)
            ),
            bc-neutral-200: (
                background-color: my-color(neutral-200)
            ),
            bc-neutral-300: (
                background-color: my-color(neutral-300)
            ),
            bc-neutral-400: (
                background-color: my-color(neutral-400)
            ),
            bc-neutral-500: (
                background-color: my-color(neutral-500)
            ),
            bc-neutral-600: (
                background-color: my-color(neutral-600)
            ),
            bc-neutral-700: (
                background-color: my-color(neutral-700)
            ),
            bc-neutral-800: (
                background-color: my-color(neutral-800)
            ),
            bc-neutral-900: (
                background-color: my-color(neutral-900)
            ),
            bc-support-success-100: (
                background-color: my-color(support-success-100)
            ),
            bc-support-success-200: (
                background-color: my-color(support-success-200)
            ),
            bc-support-success-300: (
                background-color: my-color(support-success-300)
            ),
            bc-support-success-400: (
                background-color: my-color(support-success-400)
            ),
            bc-support-success-500: (
                background-color: my-color(support-success-500)
            ),
            bc-support-success-600: (
                background-color: my-color(support-success-600)
            ),
            bc-support-success-700: (
                background-color: my-color(support-success-700)
            ),
            bc-support-success-800: (
                background-color: my-color(support-success-800)
            ),
            bc-support-success-900: (
                background-color: my-color(support-success-900)
            ),
            bc-support-warning-100: (
                background-color: my-color(support-warning-100)
            ),
            bc-support-warning-200: (
                background-color: my-color(support-warning-200)
            ),
            bc-support-warning-300: (
                background-color: my-color(support-warning-300)
            ),
            bc-support-warning-400: (
                background-color: my-color(support-warning-400)
            ),
            bc-support-warning-500: (
                background-color: my-color(support-warning-500)
            ),
            bc-support-warning-600: (
                background-color: my-color(support-warning-600)
            ),
            bc-support-warning-700: (
                background-color: my-color(support-warning-700)
            ),
            bc-support-warning-800: (
                background-color: my-color(support-warning-800)
            ),
            bc-support-warning-900: (
                background-color: my-color(support-warning-900)
            ),
            bc-support-danger-100: (
                background-color: my-color(support-danger-100)
            ),
            bc-support-danger-200: (
                background-color: my-color(support-danger-200)
            ),
            bc-support-danger-300: (
                background-color: my-color(support-danger-300)
            ),
            bc-support-danger-400: (
                background-color: my-color(support-danger-400)
            ),
            bc-support-danger-500: (
                background-color: my-color(support-danger-500)
            ),
            bc-support-danger-600: (
                background-color: my-color(support-danger-600)
            ),
            bc-support-danger-700: (
                background-color: my-color(support-danger-700)
            ),
            bc-support-danger-800: (
                background-color: my-color(support-danger-800)
            ),
            bc-support-danger-900: (
                background-color: my-color(support-danger-900)
            ),
            brad-0: (
                border-radius: my-border-radius(0)
            ),
            brad-1: (
                border-radius: my-border-radius(1)
            ),
            brad-2: (
                border-radius: my-border-radius(2)
            ),
            brad-3: (
                border-radius: my-border-radius(3)
            ),
            brad-4: (
                border-radius: my-border-radius(4)
            ),
            bradtl-0: (
                border-top-left-radius: my-border-radius(0)
            ),
            bradtl-1: (
                border-top-left-radius: my-border-radius(1)
            ),
            bradtl-2: (
                border-top-left-radius: my-border-radius(2)
            ),
            bradtl-3: (
                border-top-left-radius: my-border-radius(3)
            ),
            bradtl-4: (
                border-top-left-radius: my-border-radius(4)
            ),
            bradtr-0: (
                border-top-right-radius: my-border-radius(0)
            ),
            bradtr-1: (
                border-top-right-radius: my-border-radius(1)
            ),
            bradtr-2: (
                border-top-right-radius: my-border-radius(2)
            ),
            bradtr-3: (
                border-top-right-radius: my-border-radius(3)
            ),
            bradtr-4: (
                border-top-right-radius: my-border-radius(4)
            ),
            bradbr-0: (
                border-bottom-right-radius: my-border-radius(0)
            ),
            bradbr-1: (
                border-bottom-right-radius: my-border-radius(1)
            ),
            bradbr-2: (
                border-bottom-right-radius: my-border-radius(2)
            ),
            bradbr-3: (
                border-bottom-right-radius: my-border-radius(3)
            ),
            bradbr-4: (
                border-bottom-right-radius: my-border-radius(4)
            ),
            bradbl-0: (
                border-bottom-left-radius: my-border-radius(0)
            ),
            bradbl-1: (
                border-bottom-left-radius: my-border-radius(1)
            ),
            bradbl-2: (
                border-bottom-left-radius: my-border-radius(2)
            ),
            bradbl-3: (
                border-bottom-left-radius: my-border-radius(3)
            ),
            bradbl-4: (
                border-bottom-left-radius: my-border-radius(4)
            ),
            bs-0: (
                box-shadow: my-shadow(0)
            ),
            bs-1: (
                box-shadow: my-shadow(1)
            ),
            bs-2: (
                box-shadow: my-shadow(2)
            ),
            bs-3: (
                box-shadow: my-shadow(3)
            )
        )
    )
);